div ul li span p{
	margin: 0px;
	padding: 0px;
}
.mask{
	background: rgba(22,22,22,0.5);
	height:100%;
	width:100%;
	position: fixed;
	left:0;
	top:0;
	z-index: 1000;
	display: none;
}
.container{
	width: 100%;
	min-width: 1200px;
}
.container .header{
	min-width: 1200px;
	background-image: url(../images/raw_1504960383.png);
	background-size: 100%,100%;
	background-repeat: no-repeat;
}
.aside{
	float: left;
	margin-left: 50px;
	width: 200px;
	margin-bottom:60px;
}
.content{
	float: left;
	width: 880px;
	height: 480px;
	margin-left: 20px;
	padding: 5px 10px;
}
.logo{
	width: 180px;
	height: 180px;
	margin:10px auto;
	display: block;
}
.welcome{
	font-size: 20px;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	margin-bottom: 3px;
}
.toggle{
	font-size: 12px;
	margin-left: 9px;
	padding: 18px;
}
.toggle:hover{
	color: #0000FF
}
.icon{
	padding-top: 40px;
}
.icon img{
	display: block;
	width: 50px;
	margin: 0 auto;
}
.icon p{
	text-align: center;
	font-size: 15px;
	font-weight: 800;
	line-height: 40px;
}